@page
@model IndexModel
@{
    ViewData["Title"] = "Knut Game";
}

<div id="app"></div>

<link rel="stylesheet" href="/game/assets/main-Dk0ugNtr.css">
<script type="module" src="/game/assets/main-BcyLoJBV.js"></script>
